@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');

*, 
*::before, 
*::after {
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: rgb(35, 37, 39);
    width: 100%;
    min-height: 100vh;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    color: #ecf0f1;
    text-shadow: 0 5px 5px #7b1c1c;
}
  
p {
    color: #ecf0f1;
    font-size: 1.125em;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    position: relative;
    width: 420px;
    aspect-ratio: 3/4;
    border-radius: 18px;
    background: #121627;
    border: 1px solid rgba(177, 177, 177, 0.4);
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.container-card {
    display:block;
    position: absolute;
    justify-content: center;
    width: 100%;

    transition: all 0.5s linear;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #ecf0f1;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #ecf0f1;
}

.container-card h2 {
    color: #ecf0f1;
    font-weight: 700;
    padding-top: 8px;
    font-size: 1.2rem;
}

.container-card p {
    padding-top: 5px;
    color: rgb(162, 159, 159);
    position: relative;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 1rem;
    font-weight: 600;
}

.container-card .btn {
    position: relative;
    left: 0;
    width: 50%;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #ecf0f1;
    background-color: #0f3460;
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.container-card .btn:after {
    content: '>>';
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    right: -20px;
}

.container-card .btn:hover {
    background-color: #e94560;
    color: rgb(7, 7, 7);
    padding-right: 24px;
    padding-left:8px;
}

.container-card .btn:hover:after {
    opacity: 1;
    right: 10px;
}

.box {
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .max-w-6xl {
        width: 730px;
        padding: 20px;
    }
    
}

@media screen and (max-width: 640px) {
    .max-w-6xl {
        width: 620px;
        padding: 20px;
    }
    
}

@media screen and (max-width: 576px) {
    .max-w-6xl {
        width: 540px;
        padding: 20px;
    }
}

@media screen and (max-width: 476px) {
    .max-w-6xl {
        width: 450px;
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .max-w-6xl {
        width: 350px;
        padding: 25px;
    }
}